
@{
    ViewBag.Title = "Withdraw1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You cannot withdraw money bacuse you don't have sufficient money in your account</h2>

@Html.ActionLink("Back to previous page", "Index", "Account", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Log out", "Exit", "Account", null, new { @class = "btn btn-primary" })
